body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

div{
    text-align: center;
}
h1,h2,h4{
    text-align: center;
}
table {
    margin: 0 auto;
    text-align: center;

}
td{
    height: 50px;
    width: 50px;
    font-size: 20px;
}
input{
    text-align: center;
}
#total,#total-tag{
    font-size: 27px;
    color: crimson;
}


